*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; 
	font-family: sans-serif;
	background-color: #0D0208;
}

section{
	max-width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

section p, section h1{
max-width: 60%;
margin-left: 40px;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #003B00;
	overflow-x: hidden;
	padding-top: 20px;
	border-style: none solid none none;
	border-width: 15px;
	border-color: #008F11;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none; 
	color: white;
	font-size: 18px;
	display: : block;

}

.sidenav a:hover{
	color: #00FF41;
}

.topHeader {
	color: #00FF41; 
  	padding-top: 50px;
	padding-bottom: 50px;
}

.topHeader p, .topHeader h1{
	max-width: 2000px;
	margin-left: 180px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.subheader {
	background-color: #008F11;
	color: white; 
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 70px 70px 0px
}

.subheader p {
	text-align: left;
}

.categoryHeader {
 	background-color: #008F11;
	color: white; 
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 70px 70px 0px
}

.categoryHeader {
	margin-right: auto;
	margin-bottom: 20px;
}

.img-map1 {
	width:75%;
	margin-left: 190px;
}

.categoryHeader p, .categoryHeader h1{
	text-align: left;
}

/* Simple grid */
.g-row {
	width: 100%;
	overflow: hidden;
}

.g-row img {
	width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 10px;
}

.g-30 {
	width: 30%;
	float: right;
	margin: 20px;

}


.show {
	border: 1px solid blue;
	padding: 2px;
}

.padded {
	padding: 20px; /* I add this to cells to add a little padding*/
}

