*{
	box-sizing: border-box; 
}

body{
	margin: auto; 
	font-family: sans-serif;
}

section{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

section p, section h1{
max-width: 60%;
margin-left: 40px;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #00130a;
	overflow-x: hidden;
	padding-top: 20px;
	border-style: none solid none none;
	border-width: 15px;
	border-color: #004b29;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none; 
	color: #ba8f00; 
	font-size: 18px;
	display: : block;

}

.sidenav a:hover{
	color: #ffc600;
}

.topHeader {
	color: #ffc600; 
  	padding-top: 50px;
	padding-bottom: 50px;
}

.topHeader p, .topHeader h1{
	max-width: 2000px;
	margin-left: 180px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.subheader {
	background-color: #004b29;
	color: white; 
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 70px 70px 0px
}

.subheader p {
	color: #ffc600;
	text-align: left;
}

.categoryHeader {
 	background-color: #004b29;
	color: white; 
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 70px 70px 0px
}

.categoryHeader {
	margin-right: auto;
	margin-bottom: 20px;
}

.img-map1 {
	width:75%;
	margin-left: 250px;
	margin-top: 40px;
	margin-bottom: 40px;
    border-radius: 10px;
}

.categoryHeader p, .categoryHeader h1{
	color: #ffc600;
	text-align: left;
}

.g-row {
	width: 80%;
	overflow: hidden;
}

.g-row img {
	width: 100%; 
	border-radius: 10px;
}

.g-30 {
	width: 30%;
	float: right;
	margin: 20px;
}


.show {
	border: 1px solid blue;
	padding: 2px;
}

.padded {
	padding: 20px;

